input[type='checkbox'] { 
  display: none; 
}

.toggle { 
  display: none; 
}

.lbltoggle {  
  display : flex;
  cursor: pointer; 
  border-radius: 7px; 
  transition: all 0.25s ease-out; 
  justify-content: end;
} 

.lbltoggle:hover { 
  color: #FFF; 
} 

.lbltoggle::before {  
  transform: translateY(-2px); 
  transition: transform .2s ease-out; 
} 

.collapsedmenu {
  position:absolute;
  top : 60px;
  flex: 0 0 200px;
  padding : 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 0px; 
  overflow: hidden; 
  transition: max-height .4s ease-in-out;
  border-radius: 4px;
  background-color: rgb(222, 250, 216);
  width: 300px;
}
.collapsedmenu .navlink {
  text-align: center;
  margin : 10px 0 10px 0;
}
.toggle:checked+.lbltoggle::before { 
  transform: rotate(90deg) translateX(-3px); 
} 
.toggle:checked + .lbltoggle + .collapsedmenu { 
  max-height: 350px; 
  padding : 10px 10px 15px 10px;
}